@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

:root {
    --gradient: linear-gradient(to right,
            #845ec2,
            #d65db1,
            #ff6f91,
            #ff9671,
            #ffc75f,
            #f9f871);
    --shadow-low-op: #4a98b599;
    --shadow-high-op: #a7fed599;
    --shadow-low: #4a98b5;
    --shadow-high: #a7fed5;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    background-image:
        repeating-linear-gradient(45deg,
            rgba(129, 129, 129, 0.06) 0px, rgba(129, 129, 129, 0.06) 5px,
            transparent 5px, transparent 10px),
        linear-gradient(45deg, rgb(155, 235, 196), transparent),
        linear-gradient(90deg, rgb(152, 231, 193), transparent),
        linear-gradient(90deg, rgb(97, 213, 255), rgb(97, 213, 255));
    display: grid;
    height: 100vh;
    place-items: center;
    font-family: 'Nunito', sans-serif;
}

section {
    height: auto;
    min-height: 10rem;
    width: 75vw;
    padding: 5rem;
    border-radius: 1rem;
    background-color: transparent;
    box-shadow:
        5px 5px 20px var(--shadow-low),
        -5px -1px 20px var(--shadow-high),
        inset 5px 5px 20px var(--shadow-low-op),
        inset -5px -5px 20px var(--shadow-high-op);
    transition:
        box-shadow 0.5s ease-in-out,
        background-color 1s 0.2s ease-in-out,
        backdrop-filter 0.45s ease-in-out,
        transform 0.45s ease-in-out;
    backdrop-filter: blur(0);
    /* cubic-bezier(.68, .04, .5, 1.68); */
}

section:focus,
section:focus-within,
section:hover {
    /* background-color: #fff2; */
    box-shadow:
        10px 10px 30px var(--shadow-low),
        -7px -2px 20px var(--shadow-high),
        inset 5px 5px 25px var(--shadow-high-op),
        inset -5px -5px 25px var(--shadow-low-op);
    transform: scale(1.02);
    backdrop-filter: blur(2px);
}

h1 span {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
}

@keyframes gradMove {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}

h1 {
    display: inline-block;
    font-size: 5rem;
    color: transparent;
    margin-bottom: -0.5rem;
    letter-spacing: 1px;
    background-image: var(--gradient);
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradMove 10s infinite alternate;
    filter: drop-shadow(0 0 0.5px rgba(220, 20, 60, 0.5));
}

.after {
    border-top: 1px solid crimson;
    width: 100%;
    height: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.5s ease-out;
}

h4 {
    font-size: 1.2rem;
    font-weight: bolder;
    color: #d65db1;
    letter-spacing: 3px;
    margin-bottom: 4rem;
}

form {
    position: relative;
}

form div {
    position: relative;
    height: 3.5rem;
    width: 100%;
    padding: .5rem 1.25rem;
    padding-right: 10.51rem;
    font-size: 1rem;
    border: 0.1rem solid rgba(97, 213, 255, 0.75);
    border-radius: 5rem;
    z-index: 2;
    pointer-events: none;
}

form input {
    pointer-events: all;
    appearance: none;
    outline: none;
    background: transparent;
    width: 100%;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    border: none;
}

.placeholder {
    position: absolute;
    left: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: 400;
    transition: all cubic-bezier(.68, .04, .39, 1.48) 0.3s;
    pointer-events: none;
}

form div input:not(:placeholder-shown)+.placeholder {
    transform: translateY(-2.9rem);
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 3.5px;
}

form div input:focus+.placeholder {
    transform: translateY(-2.9rem);
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 3.5px;
}

button {
    position: absolute;
    cursor: pointer;
    bottom: 1.75rem;
    transform: translateY(50%);
    right: 0rem;
    appearance: none;
    outline: none;
    border-radius: 10rem;
    /* 10rem 0; */
    border: none;
    font-size: 2rem;
    font-family: 'PT Sans Narrow', sans-serif;
    color: rgb(97, 213, 255);
    height: 3.4rem;
    width: 10.5rem;
    transition: background-color 0.1s ease-in-out;
}

button:active {
    background-color: rgba(255, 255, 0, 0.5);
}