@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

:root {
    --gradient: linear-gradient(to right,
            #845ec2,
            #d65db1,
            #ff6f91,
            #ff9671,
            #ffc75f);
    --textured-gradient:
        repeating-linear-gradient(45deg,
            rgba(189, 189, 189, 0.05) 0px, rgba(175, 175, 175, 0.05) 50px,
            transparent 50px, transparent 100px),
        repeating-linear-gradient(-45deg,
            rgba(189, 189, 189, 0.05) 0px, rgba(175, 175, 175, 0.05) 50px,
            transparent 50px, transparent 100px),
        linear-gradient(45deg, rgb(116, 245, 182), transparent),
        linear-gradient(90deg, rgb(116, 236, 178), transparent),
        linear-gradient(90deg, rgb(42, 198, 255), rgb(97, 213, 255));
    --shadow-low-op: #4a99b5a9;
    --shadow-high-op: #ccfff4d5;
    --shadow-low: #6ca0b3;
    --shadow-high: #fffa;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    background-image: linear-gradient(to right, rgba(153, 238, 197, 0.3), rgba(97, 213, 255, 0.3));
    display: grid;
    height: 100vh;
    place-items: center;
    font-family: 'Nunito', sans-serif;
}

section {
    height: auto;
    min-height: 10rem;
    width: 75vw;
    padding: 5rem;
    border-radius: 1rem;
    background-color: transparent;
    background-image: var(--textured-gradient);
    background-size: 100%;
    background-position: left;
    box-shadow:
        5px 5px 20px var(--shadow-low),
        -5px -5px 20px var(--shadow-high),
        inset 8px 8px 35px var(--shadow-low-op),
        inset -5px -5px 35px var(--shadow-high-op);
    transition:
        box-shadow 0.5s ease-in-out,
        background-color 1s 0.2s ease-in-out,
        background-size 10s ease-in-out,
        transform 0.45s ease-in-out;
}

section:focus,
section:focus-within,
section:hover {
    /* background-color: #fff2; */
    box-shadow:
        10px 10px 30px var(--shadow-low),
        -7px -7px 20px var(--shadow-high),
        inset 5px 5px 35px var(--shadow-high-op),
        inset -5px -5px 35px var(--shadow-low-op);
    transform: scale(1.02);
    background-size: 160%;
    animation: gradMove 15s linear 9.5s infinite alternate;
}

h1 span {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
}

@keyframes gradMove {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}

h1 {
    display: inline-block;
    font-size: 5rem;
    color: transparent;
    margin-bottom: -0.5rem;
    letter-spacing: 1px;
    background-image: var(--gradient);
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradMove 10s infinite alternate;
    filter: drop-shadow(0 0 0.5px rgba(220, 20, 60, 0.5));
}

.after {
    border-top: 1px solid rgba(220, 20, 60, 0.658);
    width: 100%;
    height: 1rem;
    position: absolute;
    left: 0;
    top: 6rem;
    transition: width 0.5s cubic-bezier(.74, .01, .33, 1.55);
}

h4 {
    font-size: 1.2rem;
    font-weight: bolder;
    color: #d65db1;
    letter-spacing: 3px;
    margin-bottom: 5rem;
}

form {
    position: relative;
}

form div {
    position: relative;
    height: 3.5rem;
    width: 100%;
    padding: .5rem 1.25rem;
    padding-right: 10.51rem;
    font-size: 1rem;
    border: 0.1rem solid var(--shadow-low-op);
    border-radius: 5rem;
    pointer-events: none;
    background-color: transparent;
    filter: drop-shadow(1px 1px 0px aqua);
    transition: all 0.3s ease-in-out;
}

form div:hover,
form div:focus-within,
form div:focus {
    background-color: #eee2;
}

form input {
    pointer-events: all;
    appearance: none;
    outline: none;
    background: transparent;
    width: 100%;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3rem;
    color: midnightblue;
    border: none;
}

.placeholder {
    position: absolute;
    left: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3rem;
    font-weight: 400;
    color: midnightblue;
    transition: all cubic-bezier(.68, .04, .39, 1.48) 0.3s;
    pointer-events: none;
}

form div input:not(:placeholder-shown)+.placeholder {
    transform: translateY(-2.9rem);
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 3.5px;
}

form div input:focus+.placeholder {
    transform: translateY(-2.9rem);
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 3.5px;
}

button {
    position: absolute;
    cursor: pointer;
    bottom: 0.1rem;
    right: 0.1rem;
    appearance: none;
    outline: none;
    border-radius: 5rem;
    border: none;
    font-size: 1.5rem;
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 2px;
    color: crimson;
    height: 3.3rem;
    width: 10.4rem;
    box-shadow: none;
    transform-origin: center center;
    transition: all 50ms ease-in;
    transition: letter-spacing 180ms cubic-bezier(.39, .32, .42, 1.95);
    background-color: #eee;
}

button:active {
    box-shadow:
        inset 2px 2px 5px var(--shadow-low),
        inset -3px -3px 5px #fff;
    color: rgb(255, 23, 69);
    background-color: #eaeaea;
}

button:hover {
    background-color: #efefef;
    letter-spacing: -1px;
}

@media (max-width: 600px) {
    section {
        padding: 2.5rem;
    }

    .after {
        top: 4.75rem;
    }

    h1 {
        font-size: 4rem;
    }

    form div {
        padding-right: 1.25rem;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 3rem;
    }

    .after {
        top: 3.5rem;
    }

    button {
        position: relative;
        margin-top: 1rem;
        width: 100%;
    }
}